# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Large Files (Dataset is automatically fetched via prepare_data.py)
data/raw/*
data/processed/*
!data/processed/.gitkeep
!data/raw/.gitkeep
!data/prepare_data.py

# Model Checkpoints (Large weights >100MB exceeding GitHub limits)
checkpoints/*.keras
!checkpoints/.gitkeep

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
